fastapi
uvicorn[standard]
celery
redis
psycopg[binary]
psycopg-pool
python-dotenv
dependency-injector
pydantic[email]
pydantic-settings
httpx
passlib[bcrypt]
bcrypt<5
pytest
pytest-asyncio
pytest-mock
