fastapi
uvicorn
celery
redis
psycopg[binary]
psycopg-pool
dependency-injector
pydantic[email]
pydantic-settings
httpx
passlib[bcrypt]
bcrypt<5
python-dotenv
scalar-fastapi
pytest
pytest-asyncio
pytest-mock
debugpy
black
ruff
